/*
* Style du site du Comic
* Date de création: 5 juin 2020
* Auteur: Rétro
*/

/* Navbar */
#logoNavbar {
    height: 32px;
    /*padding-left: 1rem;*/
}

.nav-container {
    margin-left: 0px;
    padding-left: 0;
}

.navbar {
    background-color: #171717;
}

/* Menu déroulant */
.dropdown-item {
    text-align: left;
    align-content: left;
}

.dropdown-item:active {
    background-color: gray;
}

.icone-evenement {
    width: 18px;
}

/* Corps */
#logo {
    width: 250px;
}

#vidéo {
    background-color: lightgray;
}

#lecteur-vidéo {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#vidéo video {
    width: 100%;
    max-width: 720px;
}
