/*
* Style du site du Comic
* Date de création: 5 juin 2020
* Auteur: Rétro
*/

/* Navbar */
#logoNavbar {
    height: 32px;
    padding-left: 1rem;
}

.navbar {
    padding-left: 0;
}

.navbar-expand-sm {
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.nav-container {
    margin-left: 0px;
    padding-left: 0;
}

.nav-item {
    height: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.container-fluid {
  padding: 30px 10px 30px 10px;
}

.nav-item.active {
    background-color: #171717;
}